# Created by https://www.toptal.com/developers/gitignore/api/cypressio
# Edit at https://www.toptal.com/developers/gitignore?templates=cypressio

### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

downloads/*
results/*
reports/*
screenshots/*
videos/*

# End of https://www.toptal.com/developers/gitignore/api/cypressio
